doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/css/styles.css")
    script(src="/js/client.js")
    title Artwork

  body
    include ./headers

    if session && session.loggedin

        h1 Art Gallery 

        div(class='filter')

            br
            b Name 
            input(type="text", id='sname', name='sname', value='')
            br
            br
            b Artist 
            input(type="text", id='sartist', name='sartist', value='')
            br
            br
            b Category 
            input(type="text", id='scategory', name='scategory', value='')
            br
            br
            button(type="button", onclick="filterSearch()") Search

        ul 
            each obj in arts 

                li
                    each value, title in obj
                        
                        if title == "artist"
                            - var link = "/artwork/" +  value 
                            p <em><b>Artist</em></b>: 
                                a(href=`${link}`) #{value} 

                        if title == "name" || title == "year" || title == "category" || title == "medium" || title == "description"

                            p <em><b>#{title}</b></em>: #{value}

                        if title == "review"

                            if  value.length == 0
                                p <em><b>Review:</em></b> <b> None </b>
                            else
                                p <em><b>Review:</em></b> 
                                    each review, user in value[0]
                                        each rev in review 
                                            ul 
                                                li <b>#{rev}</b> 

                        if title == "rating"
                            if value.length == 2
                                p <em><b>Average Rating</em></b>: <b> None </b>
                
                            else 
                                // Add average rating here
                                p <em><b>Average Rating</em></b>: <b> #{obj.average} </b>
                                    
                            br

                        if title  == "image"

                            img(src=value, alt='image')
                            br
                

    else 
        h2 Not Authorized

