doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/css/styles.css")
    script(src="/js/client.js")
    title Artist Page

  body
    include ./headers

    p#user(hidden) #{session.username}

    h1= arts[0].artist
    p#artistname(hidden) #{arts[0].artist}
    p#uid(hidden) #{arts[0]._id}

    //Only patrons can see this
    if !session.artist
        button(type="button", onclick="followArtist()") Follow
        |
        |
        |
        |
        button(type="button", onclick="unfollowArtist()") Unfollow

        -var value = arts[0].workshop

            if value.length == 0
                p <em><b>Wrokshops</em></b>: <b> None </b>

            if value.length > 0 
                p <em><b>Wrokshops</em></b>:  
                    select#workshop-select(name="workshop-select")
                        each ws in value 
                            option(value=`${ws}`) #{ws}

                    br
                    button(type="button", onclick="enrollworkshop()") Enroll
                
                br


    ul 
        each obj in arts 

            li
                each value, title in obj 
                            
                    if title == "name"
                        - var link = "/artist/" +  obj._id 
                        p <em><b>name</em></b>: 
                            a(href=`${link}`) #{value} 

                    if title == "year" || title == "category" || title == "medium" || title == "description"

                        p <em><b>#{title}</b></em>: #{value}

                    if title == "review"
        
                        if value.length == 0
                            p <em><b>Review:</em></b> <b> None </b>

                        else
                            p <em><b>Review:</em></b> 
                                each review, user in value[0]
                                    each rev in review 
                                        ul 
                                            li <b>#{rev}</b> 

                    if title == "rating"
                        if value.length == 2
                            p <em><b>Average Rating</em></b>: <b> None </b>
            
                        else 
                            // Add average rating here
                            p <em><b>Average Rating</em></b>: <b> #{obj.average} </b>
                                
                        br

                    if title  == "image"

                        img(src=value, alt='image')
                        br
                


